@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--color-white_ton1);
    font-weight: bold;

}
body{
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}


.logo{
    height: 46px;
    width: auto;
}

.div-btn {
    justify-content: space-around;
    text-align: center;
}

.btn-color {
    background-color: var(--color-red);
    color: var(--color-white);
    width: 150px;
    height: 40px;
}

a {
    color: var(--color-white_ton1);
}

.btn-color:hover {
    background-color: var(--color-red-hover);
}

.btn-lista {
    margin: 10px;
    text-align: end;
}

.btn-lista a {
    text-decoration: none;
    color: var(--color-red);
    width: 150px;
}