@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #d1d0d1;
    font-weight: bold;

}
body{
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}


.logo{
    height: 46px;
    width: auto;
}

.text-color {
    color: blue;
}

.div-btn {
    justify-content: space-around;
    text-align: center;
}

.btn-color {
    background-color: #F60D09;
    color: #fff;
    width: 150px;
    height: 40px;
}

a {
    color: #d1d0d1;
}

.btn-color:hover {
    background-color: #F60D09cc;
}

.btn-lista {
    margin: 10px;
    text-align: end;
}

.btn-lista a {
    text-decoration: none;
    color: #F60D09cc;
    width: 150px;
}