:root {
    --color-red: #F60D09;
    --color-red-hover: #C00000;
    --color-black: #0f0f0f;
    --color-black_ton1: #0c0c0c;
    --color-black_ton2: #161616;
    --color-white: #ffffff;
    --color-white_ton1: #d1d0d1;
}