.banner {
    width: 100%;
    height: 500px;
}
.banner-img-contato {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner_contato.jpeg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.45;
}

.banner h1 {
    display: flex;
    align-items: center;
    position: absolute;
    height: 10%;
    top: 350px;
    left: 10vw;
    font-size: 5.75vw;
    z-index: 1;
}

#mapa {
    height: 500px;
    width: 50%;
}

b {
    color: #302f2f;
}

.div-mapa {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}