body {
  display: flex;
  justify-content: center;
}

.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.img-original, .img-slider img {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}

.img-slider {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.img-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider {
  position: absolute;
  opacity: 0;
  z-index: 2;
  height: 100%;
  width: 103%;
  cursor: grab;
}
.slider:active {
  cursor: grabbing;
}

.slider-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.bolinha {
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid white 2px;
}

.linha {
  height: 100%;
  width: 2px;
  background-color: white;
}

.triangle {
  background-color: black;
  transform: rotatez(45deg);
  height: 10px;
  width: 10px;
}

.quadrado {
  position: absolute;
  z-index: 1;
  background-color: white;
  height: 20px;
  width: 6px;
}