.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria h1{
  font-size: 3.55em;
  margin: 20px;
}

.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  max-width: 90%;
  height: min-content;
  position: relative;
  overflow: hidden;
  border: white solid 2px;
  border-radius: 10px;
  margin: 20px;
}

.img-original, .img-slider img {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}
.img-slider {
  overflow: hidden;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.img-slider img {
  object-fit: cover;
}

.slider {
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 100%;
  width: 103%;
  cursor: grab;
}
.slider:active {
  cursor: grabbing;
}

.slider-icon {
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
  position: absolute;
  height: 100%;
}

.bolinha {
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid white 2px;
}

.linha {
  height: 100%;
  width: 2px;
  background-color: white;
}

.triangle {
  background-color: black;
  transform: rotatez(45deg);
  height: 14px;
  width: 14px;
}

.quadrado {
  position: absolute;
  z-index: 1;
  background-color: white;
  height: 20px;
  width: 8px;
}