    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        color: var(--color-white_ton1);
        font-weight: bold;

    }
    body{
      background-color: var(--color-black);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
    }

    .login{
        color: var(--color-white_ton1);
        font-size: 32px;
    }

    .logo{
        height: 46px;
        width: auto;
    }

    .loginbox{
        background-color: var(--color-black_ton2);
        border-radius: 3px;
    }

    .input{
        background-color: var(--color-black); 
        border: solid 2px var(--color-black_ton1);
    }
    
    .btn{
        background-color: var(--color-red-hover);
        color: var(--color-white_ton1);
        border: none;
        border-radius: 3px;
    }

    .btn:hover{
        background-color: var(--color-red);
    }
    
    .responsivo-login {
        width: 80%;
        max-width: 700px;
        margin: 0;
    }

    @media (max-width: 600px) {
        .responsivo-login {
            width: 100%;
        }
        .responsivo-info {
            width: 80%;
            margin-inline: 10%;
        }
    }