body {
    display: flex;
    flex-direction: column;
}
.banner {
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner_servicos.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.div-text-banner {
    margin-top: 100px;
    color: var(--color-white);
    margin-left: 50px;
    flex-direction: column;
    display: flex;
}

.text-banner {
    font-size: 110px;
    width: fit-content;
}

.servico {
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
}

.img-banner-1 {
    background-image: url(../img/img-fundo-servicos1.png);
}

.div-text-banner-servico {
    margin: 0 50px;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
}

.text-servicos{
    width: 45%;
}

.banner-direita{
    flex-direction: row-reverse;
}
.esquerda {
    border-right: 50px solid transparent;
}
.direita {
    border-left: 50px solid transparent;
}
.esquerda h1 {
    left: 8%;
}
.direita h1 {
    right: 8%;
}

p {
    font-size: 20px;
}

.linhas-secao {
    border: 1px transparent solid;
    margin-bottom: 150px;
}

.fita-banner-servico {
        display: flex;
        align-items: flex-end;
        position: relative;
        align-self: flex-start;
        bottom: 35px;
        width: 45%;
        max-width: 700px;
        min-width: 270px;
        border-top: 70px solid var(--color-red-hover);
        height: 0;
    }

    .fita-banner-servico h1 {
        display: flex;
        align-items: center;
        position: absolute;
        margin: 0;
        height: 70px;
        font-size: 1.7em;
        text-align: center;
        color: var(--color-white);
    }

@media (max-width: 1000px) {
    .direita {
        align-self: flex-end;
    }
    .div-text-banner-servico {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .banner {
        margin-top: 70px;
        height: 45vw;
    }
    .text-banner {
        font-size: 4.50em;
    }
    .div-text-banner {
        margin-left: 10%;
        margin-top: 15%
    }
    .text-servicos {
        width: 80%;
        padding: 20px 10%;
        text-align: center;
    }
    .linhas-secao {
        margin: 50px 0;
    }
    .fita-banner-servico {
        width: 70%;
    }
    .linhas-secao {
        margin: 50px 0;
    }
}
@media (max-width: 700px) {
    .fita-banner-servico {
        justify-content: center;
        width: 100%;
        min-width: 100%;
        border-right: 0;
    }
    .servico1 {
        height: 300px;
    }
    .text-servicos {
        font-size: 1em;
        padding: 0px 10%;
    }
    .fita-banner-servico h1 {
        left: 0;
        font-size: 1.5em;
        position: relative;
    }
}

@media (max-width: 500px) {
    .banner {
        margin-top: 120px;
    }
    .text-banner {
        font-size: 3.50em;
    }
    .linhas-secao {
        margin: 20px 0;
    }
}